:root {
	--primary-color: #4D7AFF;
	--secondary-color: #F0F4F8; 
    --title-color: #0277bd;
	--background-color: #e0f7fa;
	--chat-background: #FFFFFF;
	--text-color: #333333;
	--input-background: #F0F4F8;
	--icon-color: #4D7AFF;
	--error-color: #FF3366;
	--success-color: #52ff33;
    --hover-color: #01579b;
}

.dark-theme {
	--primary-color: #4D7AFF;
	--secondary-color: #4b5696;
	--background-color: #1A1C2A;
	--chat-background: #2A2D3E;
	--text-color: #E0E0E0;
	--input-background: #2A2D3E;
	--icon-color: #4D7AFF;
	--error-color: #FF4D7A;
}

.input-chatList {
    color: var(--text-color) !important;
}

.dark-theme .input-chatList {
    color: var(--text-color);
}

.chat-button {
    color: var(--text-color) !important;
}

.dark-theme .chat-button {
    color: var(--text-color);
}